:root {
    --text-main: #1a3b41;
    --text-main-20: #1a3b4133;
    --text-main-30: #1a3b414d;
    --text-main-50: #1a3b4180;
    --text-main-70: #1a3b41b3;
    --primary-100: #ffb22c;
    --primary-200: #fdc564;
    --secondary-100: #529553;
    --secondary-100-30: #5295534d;
    --secondary-100-20: #52955333;
    --secondary-200: #4a834b;
    --tertiary-100: #1a3b41;
    --tertiary-100-60: #1a3b4199;
    --tertiary-100-30: #1a3b414d;
    --tertiary-100-20: #1a3b4133;
    --tertiary-100-10: #1a3b411a;
    --tertiary-100-05: #1a3b410d;
    --tertiary-100-03: #1a3b4108;
    --text-100: #c9cecf;
    --text-200: #404041;
    --text-300: #adadad;
    --text-400: #6b6b6b;
    --gray-100: #d9d9d9;
    --gray-200: #eaecec;
    --gray-300: #DBDBDB;
    --input-bg: #d9d9d9;
    --input-secondary-bg: rgba(26, 59, 65, 0.0509803922);
    --input-text: #1a3b41;
    --input-placeholder-color: rgba(26, 59, 65, 0.7019607843);
    --white: #ffffff;
    --white-70: #ffffffb3;
    --white-50: #ffffff80;
    --white-24: #ffffff40;
    --white-03: #ffffff08;
    --red: #b74406;
    --yellow: #ffb22c;
    --green: #529553;
    --main-font: "EstedadFANum";
    --heading-font: "Peyda"
}
a{
    text-decoration: none;
}

body {
    background-color: #f8f9fa;
    font-family: 'Vazir FD', sans-serif !important;
}

.builder-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-right: 24px;
    border-radius: 10px;
    position: relative;
    top: 30px;
}

.builder-title {
    font-size: 14px;
    font-weight: 500;
    color: #3c3c3c;
}

.builder-text {
    text-align: justify;
    font-size: 13px;
    font-weight: 500;
    color: #555555;
    background-color: #e9e9e9;
    border-radius: 13px;
}

.mission-title::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 6px;
    width: 5px;
    height: 25px;
    background-color: #10a040;
    border-radius: 5px;
    margin-left: 8px;
}

.mission-title {
    font-size: 18px;
    font-weight: 600;
    color: #3c3c3c;
    border-radius: 8px;
    padding-left: 6px;
    /* border-right: 5px solid #10a040; */
}

.mission-text {
    font-size: 16px;
    /* font-weight: 500; */
    color: #555555;
    text-align: justify;
    line-height: 40px;
}

.mission-number {
    font-size: 28px;
    font-weight: 700;
    color: #10a040;
}

.mission-row .col {
    position: relative;
}

.mission-row .col:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: #e5e7eb;
}

/* برای نمایش بهتر در موبایل */
@media (max-width: 768px) {
    .mission-row .col::after {
        display: none;
    }

    .mission-row .col {
        border-bottom: 1px solid #e5e7eb;
    }

    .mission-row .col:last-child {
        border-bottom: none;
    }
}

/* video section ======================================================================================================= */
.reels-container {
    width: 100%;
    max-width: 400px;
    /* margin: 40px auto; */
    border-radius: 12px;
    overflow: hidden;
}

/* نسبت تصویر ریلز (9:16) */
.video-js.vjs-fill {
    padding-top: 177%;
    height: 0 !important;
}

/* 🎨 تغییر رنگ کنترل‌ها */
.vjs-control-bar {
    background: rgba(0, 0, 0, 0.5) !important;
}

.video-js .vjs-big-play-button {
    background-color: #10a040 !important;
    font-size: 2em;
    line-height: 2.9em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

.vjs-play-control .vjs-icon-play:before,
.vjs-play-control .vjs-icon-pause:before {
    color: #00d2ff !important;
    /* رنگ دکمه پخش */
}

.vjs-progress-holder,
.vjs-play-progress {
    background-color: #898989 !important;
    /* رنگ نوار */
}

.vjs-volume-level {
    background-color: #898989 !important;
    /* رنگ ولوم */
}

/* About Us Section
--------------------------------*/

#about {
    background: url(/assets/products/product2.webp) center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
    direction: rtl;
    font-family: 'Vazir', 'Open Sans', sans-serif;
}

#about::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
}

#about .container {
    position: relative;
    z-index: 10;
}

#about .section-header p {
    text-align: center;
    line-height: 35px;
}

/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    font-family: 'Vazir', 'Open Sans', sans-serif;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}

.testimonial-slider {
    max-width: 850px;
    position: relative;
}

.swiper {
    padding: 40px 0 60px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.card {
    width: 89%;
    max-width: 750px;
    background: #fff;
    padding: 20px 40px;
    border-radius: 20px;
    position: relative;
    /* box-shadow: 0 20px 40px #0001; */
    border: 1px solid #e9e9e9;
}

/* کارت‌های کج زیر کارت اصلی */
.mySwiper::before,
.mySwiper::after {
    content: "";
    position: absolute;
    width: 87%;
    height: 77%;
    background: #fff;
    border-radius: 20px;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    /* box-shadow: 0 15px 30px #0001; */
    z-index: -1;
    border: 1px solid #e9e9e9;
}

.mySwiper::before {
    transform: translateX(-50%) rotate(-4deg);
}

.mySwiper::after {
    transform: translateX(-50%) rotate(-1.5deg);
}

.swiper-pagination-bullet-active {
    background-color: #10a040 !important;
    width: 20px !important;
    border-radius: 5px;
}

/* ستاره‌ها */
.stars {
    color: gold;
    font-size: 20px;
    margin-bottom: 20px;
}

/* متن */
.card p {
    line-height: 2;
    margin-bottom: 35px;
}

/* بخش کاربر */
.user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.user h4 {
    margin: 0;
    font-size: 18px;
}

.user span {
    font-size: 16px;
    color: gray;
}

.comment-title {
    color: #333;
    font-size: 50px;
    font-weight: 900;
    line-height: normal;
}

.etemad {
    color: #10a040;
}

.commetn-text {
    text-align: justify;
    font-size: 16px;
    color: #555555;
    margin-top: 20px;
}

.TestSwiper .swiper-slide {
    width: 300px;
    height: 300px;
}

.splide img {
    width: 100%;
    height: auto;
}



/* map ====================================================================================== */

.map-wrapper {
    position: relative;
    max-width: 1100px;
    /* margin: 40px auto; */
    /* background: #fff; */
    /* padding: 40px; */
    border-radius: 20px;
}

#map {
    width: 100%;
    /* height: 520px; */
}

/* لیبل نمایندگی */
.map-label {
    right: 0px;
    /* background: #fff; */
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, .08); */
    white-space: nowrap;
    z-index: 2;
}

.label-tehran {
    top: 120px;
}

.label-isfahan {
    top: 260px;
}

.label-kerman {
    top: 400px;
}

.leader-line {
    z-index: 10;
}


/* customer */
.luxina_customers_container {
    --container-bg: #e9ebeb;
    position: relative;
    padding: 30px;
    background: var(--container-bg);
    border-radius: 16px;
    z-index: 0
}

.luxina_customers_container:has(.luxina_customers_title-wrap) {
    margin-top: 120px
}

.luxina_customers_title-wrap {
    position: absolute;
    left: 50%;
    /* top: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 60px 32px;
    z-index: 2;
    transform: translate(-50%, -60%);
}

.luxina_customers_title-wrap::before,
.luxina_customers_title-wrap::after {
    content: "";
    position: absolute;
    bottom: 32px;
    width: 26%;
    height: 1px;
    background: var(--secondary-100)
}

.luxina_customers_title-wrap::before {
    width: 16%
}

.luxina_customers_title-wrap::after {
    opacity: .3
}

.luxina_customers_title-icon {
    color: var(--primary-100);
    margin-bottom: 8px
}

.luxina_customers_title-text {
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 1;
}

.luxina_customers_title-subtitle {
    font-weight: 600;
    color: var(--text-main-20)
}

.luxina_customers_title-bg {
    position: absolute;
    inset: 0;
    clip-path: polygon(0.16% 9.17%, 0.01% 8%, 0.02% 6.86%, 0.16% 5.76%, 0.44% 4.71%, 0.83% 3.73%, 1.34% 2.83%, 1.95% 2.02%, 2.64% 1.34%, 3.43% 0.77%, 4.28% 0.35%, 5.19% 0.09%, 6.16% 0%, 93.84% 0%, 94.81% 0.09%, 95.72% 0.35%, 96.57% 0.77%, 97.36% 1.34%, 98.05% 2.02%, 98.66% 2.83%, 99.17% 3.73%, 99.56% 4.71%, 99.84% 5.76%, 99.98% 6.86%, 99.99% 8%, 99.84% 9.17%, 83.51% 94.22%, 83.31% 95.04%, 83.04% 95.82%, 82.7% 96.55%, 82.3% 97.22%, 81.85% 97.83%, 81.34% 98.38%, 80.79% 98.85%, 80.19% 99.25%, 79.56% 99.57%, 78.9% 99.81%, 78.22% 99.95%, 77.51% 100%, 22.49% 100%, 21.78% 99.95%, 21.1% 99.81%, 20.44% 99.57%, 19.81% 99.25%, 19.21% 98.85%, 18.66% 98.38%, 18.15% 97.83%, 17.7% 97.22%, 17.3% 96.55%, 16.96% 95.82%, 16.69% 95.04%, 16.49% 94.22%, 0.16% 9.17%);
    clip-path: shape(from 0.16% 9.17%, curve to 6.16% 0% with -0.74% 4.48%/2.2% 0%, line to 93.84% 0%, curve to 99.84% 9.17% with 97.8% 0%/100.74% 4.48%, line to 83.51% 94.22%, curve to 77.51% 100% with 82.86% 97.6%/80.37% 100%, line to 22.49% 100%, curve to 16.49% 94.22% with 19.63% 100%/17.14% 97.6%, line to 0.16% 9.17%, close);
    z-index: -1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 21.14%, #FFFFFF 100%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
}

.luxina_customers_items {
    display: grid;
    grid-template-columns: repeat(var(--desktop-cols), 1fr);
    border: 3px solid var(--container-bg)
}

.luxina_customers_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1.3
}

.luxina_customers_item::after {
    content: "";
    position: absolute;
    bottom: -1px;
    inset-inline: 16px;
    height: 1px;
    background: var(--tertiary-100-10);
    z-index: -1
}

.luxina_customers_item::before {
    content: "";
    position: absolute;
    left: -1px;
    inset-block: 16px;
    width: 1px;
    background: var(--tertiary-100-10);
    z-index: -1
}

.luxina_customers_item-img {
    width: 70%;
    height: auto;
    transition: all .2s ease-in-out
}

.luxina_customers_item-square {
    position: absolute;
    inset-inline-start: 0;
    width: 16px;
    height: 16px;
    border-radius: 8px 0 8px 0;
    border: 1px solid var(--tertiary-100-60);
    transform: translate(50%, 50%);
    bottom: 0;
    z-index: 1
}

.luxina_customers_item:nth-child(odd) .luxina_customers_item-square {
    border-radius: 8px 0 8px 0
}

.luxina_customers_item:nth-child(even) .luxina_customers_item-square {
    border-radius: 0 8px 0 8px
}

.luxina_customers_title-text {
    text-align: center;
}

.luxina_customers_title-subtitle {
    text-align: center;
}

.luxina_customers_item-img {
    filter: brightness(76%) contrast(150%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.luxina_customers_item-img:hover {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

@media screen and (min-width: 768px)and (max-width: 1200px) {
    .hide-tablet {
        display: none !important
    }
}

@media screen and (min-width: 1201px) {
    .hide-desktop {
        display: none !important
    }
}

@media screen and (min-width: 1025px) {
    .hide-desktop-1024 {
        display: none !important
    }
}

@media screen and (max-width: 767px) {
    .hide-mobile {
        display: none !important
    }
}














/* footer */
ol,
ul {
    list-style: none;
}

#footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 56px;
    background: radial-gradient(46.22% 88.17% at 68.71% 43.91%, #0D1F22 0%, #031518 100%);
    padding-bottom: 66px;
    margin-top: 160px
}

#footer::after {
    content: "";
    position: absolute;
    inset-inline: 0;
    height: 10px;
    bottom: 0;
    background-color: var(--secondary-100)
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr min(32%, 450px)
}

.footer-top_inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
    padding-block: 64px 48px;
    padding-inline: 56px 44px;
    z-index: 1;
    flex-grow: 1
}

.footer-top_inner-bg {
    position: absolute;
    inset: 0;
    clip-path: polygon(0% 5.03%, 0.01% 4.35%, 0.06% 3.69%, 0.13% 3.07%, 0.22% 2.49%, 0.34% 1.96%, 0.47% 1.47%, 0.63% 1.05%, 0.8% 0.69%, 0.98% 0.39%, 1.18% 0.18%, 1.39% 0.05%, 1.61% 0%, 100% 0%, 96.46% 95.55%, 96.43% 96.17%, 96.37% 96.76%, 96.29% 97.31%, 96.19% 97.83%, 96.07% 98.3%, 95.93% 98.72%, 95.78% 99.09%, 95.62% 99.41%, 95.44% 99.66%, 95.26% 99.85%, 95.06% 99.96%, 94.86% 100%, 0% 100%, 0% 5.03%);
    clip-path: shape(from 0% 5.03%, curve to 1.61% 0% with 0% 2.25%/0.72% 0%, hline to 100%, line to 96.46% 95.55%, curve to 94.86% 100% with 96.37% 98.08%/95.68% 100%, hline to 0%, vline to 5.03%, close);
    background: url(../images/footer-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .1
}

.footer-heading-wrap {
    margin-bottom: 24px
}

.footer-heading-wrap .luxina_heading_title {
    color: #fff
}

.footer-heading-wrap .luxina_heading_subtitle {
    color: var(--white-24)
}

.footer-about-us {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 336px
}

.footer-about-us-text {
    line-height: 1.5;
    text-align: justify;
    color: var(--white-70)
}

.footer-about-us .site-title {
    font-size: 2rem;
    font-weight: 900;
    color: #fff
}

.footer-menu-wrap.footer-menu2 {
    margin-inline-start: 46px
}

.footer-menu-wrap .menu {
    padding-inline-start: 48px
}

.footer-menu-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.footer-menu-wrap ul a {
    color: var(--white-70)
}

.footer-menu-wrap ul a:hover {
    color: #fff
}

.footer-cta {
    position: relative;
    clip-path: polygon(11.84% 0%, 11.4% 0.03%, 10.98% 0.13%, 10.58% 0.3%, 10.2% 0.52%, 9.85% 0.79%, 9.52% 1.11%, 9.23% 1.48%, 8.97% 1.89%, 8.75% 2.35%, 8.58% 2.83%, 8.45% 3.35%, 8.37% 3.89%, 0.02% 95.1%, 0% 95.74%, 0.05% 96.37%, 0.17% 96.97%, 0.35% 97.53%, 0.59% 98.05%, 0.89% 98.53%, 1.23% 98.95%, 1.61% 99.31%, 2.04% 99.6%, 2.49% 99.82%, 2.98% 99.95%, 3.49% 100%, 100% 100%, 100% 0%, 11.84% 0%);
    clip-path: shape(from 11.84% 0%, curve to 8.37% 3.89% with 10.07% 0%/8.58% 1.67%, line to 0.02% 95.1%, curve to 3.49% 100% with -0.22% 97.71%/1.41% 100%, hline to 100%, vline to 0%, hline to 11.84%, close);
    background: var(--primary-100);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -46px;
    max-height: 420px;
    max-width: 100%
}

.footer-cta-content {
    padding-inline-start: 60px;
    padding-inline-end: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-grow: 1
}

.footer-cta-title {
    font-size: 1.625rem;
    font-weight: 900;
    color: var(--text-main);
    max-width: 80%;
    line-height: 1;
    font-family: var(--heading-font)
}

.footer-cta-subtitle {
    direction: ltr;
    font-weight: 600;
    color: var(--text-main-20);
    line-height: 1
}

.footer-cta-btn {
    margin-top: 8px;
    background-color: #fff;
    gap: 8px;
    border-radius: 8px;
    padding: 10px
}

.footer-cta-btn:hover {
    background-color: var(--text-main)
}

.footer-cta-btn:hover .footer-cta-btn-text-1 {
    color: var(--white-70)
}

.footer-cta-btn:hover .footer-cta-btn-text-2 {
    color: var(--white)
}

.footer-cta-btn:hover .footer-cta-btn-icon {
    color: var(--white)
}

.footer-cta-btn-text-1 {
    color: var(--text-main-20);
    line-height: 1
}

.footer-cta-btn-text-2 {
    font-weight: 700;
    line-height: 1;
    color: var(--text-main)
}

.footer-cta-image {
    height: 100%;
    width: auto;
    -o-object-position: left center;
    object-position: left center;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-style: italic;
    font-size: .875rem;
    color: var(--text-100);
}

.footer-cta-image-wrap {
    width: 36%;
    height: 100%;
    clip-path: polygon(100% 100%, 0% 100%, 22.42% 0%, 100% 0%, 100% 100%);
    clip-path: shape(from 100% 100%, hline to 0%, line to 22.42% 0%, hline to 100%, vline to 100%, close)
}

.footer-inner {
    display: grid;
    gap: 44px;
    align-items: start;
    justify-items: center;
    justify-content: center;
    padding-inline: 56px
}

.footer-inner.cols-3 {
    grid-template-columns: 3fr 2fr 3fr
}

.footer-inner.cols-2 {
    grid-template-columns: repeat(2, 1fr)
}

.footer-inner.cols-1 {
    grid-template-columns: 1fr
}

.footer-contact-info {
    width: 100%
}

.footer-contact-info_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center
}

.footer-contact-info-item {
    display: flex;
    align-items: center;
    gap: 16px
}

.footer-contact-info-item_inner {
    display: flex;
    flex-direction: column
}

.footer-contact-info-item-icon {
    color: var(--secondary-100)
}

.footer-contact-info-item-title {
    font-size: .875rem;
    color: var(--white-70)
}

.footer-contact-info-item-text {
    font-weight: 500;
    color: #fff
}

.footer-orgs {
    width: 100%
}

.footer-orgs_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center
}

.footer-orgs-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: var(--white-03);
    flex-grow: 1
}

.footer-orgs-item:nth-child(even) {
    border-radius: 16px 0
}

.footer-orgs-item:nth-child(odd) {
    border-radius: 0 16px
}

.footer-orgs img {
    width: 24px
}

.footer-social {
    width: 100%
}

.footer-social_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center
}

.footer-social-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    background: var(--white-03);
    color: #fff;
    flex-grow: 1;
    font-weight: 500;
    will-change: background, color;
    transition: .2s ease-in-out;
    transition-property: background, color
}

.footer-social-item:hover {
    background-color: var(--primary-100);
    color: var(--text-main)
}

.footer-social-item:hover .footer-social-item-arrow-icon {
    color: var(--text-main-20);
    transform: rotate(48deg)
}

.footer-social-item:nth-child(even) {
    border-radius: 16px 0
}

.footer-social-item:nth-child(odd) {
    border-radius: 0 16px
}

.footer-social-item-arrow-icon {
    color: var(--white-24);
    margin-left: auto;
    will-change: color, transform;
    transition: .2s ease-in-out;
    transition-property: color, transform
}

@media screen and (max-width: 1024px) {
    .footer-top {
        grid-template-columns: 1fr
    }

    .footer-top_inner {
        padding-top: 284px;
        margin-top: -190px;
        padding-inline: 40px;
        padding-bottom: 72px;
        order: 2
    }

    .footer-cta {
        position: relative;
        width: clamp(280px, 90%, 500px);
        margin-inline-start: auto;
        height: 236px;
        order: 1;
        z-index: 2
    }

    .footer-cta-content {
        padding-block: 60px 40px;
        padding-inline-end: 16px
    }

    .footer-cta-image-wrap {
        width: 30%
    }

    .footer-menu-wrap.footer-menu2 {
        margin: 0
    }

    .footer-inner {
        gap: 72px
    }

    .footer-inner.cols-3,
    .footer-inner.cols-2,
    .footer-inner.cols-1 {
        grid-template-columns: 1fr
    }
}

@media screen and (max-width: 767px) {
    .footer-about-us {
        max-width: unset
    }

    .footer-top_inner {
        flex-wrap: wrap;
        gap: 32px
    }

    .footer-cta-content {
        padding: 32px 16px 40px
    }

    .footer-cta-image-wrap {
        width: 40%
    }
}

.footer-cta-btn:hover {
    background: #1a3b41
}

#footer {
    background-color: #114b5f
}

.footer-top_inner-bg {
    background-image: url(../themes/luxina/assets/images/footer-img.png)
}

#footer .luxina_heading_icon {
    color: #ffb22c
}

#footer .luxina_heading_wrap::after,
#footer .luxina_heading_wrap::before {
    background: #519453
}

#footer .luxina_heading_subtitle {
    color: #ffffff40
}

#footer .site-title {
    color: #ffffff
}

.footer-cta {
    background: #ffb22c
}

.footer-cta-btn {
    background: #ffffff
}

.footer-cta-btn-text-1 {
    color: #1a3b4166
}

.footer-cta-btn-text-2 {
    color: #1a3b41
}

.footer-cta-btn-icon {
    color: #ffb22c
}

.footer-cta-btn:hover .footer-cta-btn-text-1 {
    color: #ffffffb3
}

.footer-menu-wrap ul a {
    color: #ffffff
}

.footer-menu-wrap ul a:hover {
    color: #ffffff
}

.footer-contact-info-item-title {
    color: #ffffffb3
}

.footer-contact-info-item-text {
    color: #ffffff
}

.footer-contact-info-item-icon {
    color: #529553
}

.footer-orgs-item {
    background: #ffffff08
}

.footer-social-item {
    background: #ffffff08
}

.footer-social-item:hover {
    background: #ffb22c
}

.footer-social-item .footer-social-item-text {
    color: #ffffff
}

.footer-social-item:hover .footer-social-item-text {
    color: #1a3b41
}

.footer-social-item .footer-social-item-icon {
    color: #ffffff
}

.footer-social-item:hover .footer-social-item-icon {
    color: #1a3b41
}

.footer-social-item .footer-social-item-arrow-icon {
    color: #ffffff40
}

.footer-social-item:hover .footer-social-item-arrow-icon {
    color: #1a3b4133
}

#footer .luxina_heading_title {
    color: #ffffff
}

.footer-about-us-text {
    color: #ffffffb3
}


.footer-top_inner-bg {
    clip-path: polygon(100% 5.03%, 99.99% 4.35%, 99.94% 3.69%, 99.87% 3.07%, 99.78% 2.49%, 99.66% 1.96%, 99.53% 1.47%, 99.37% 1.05%, 99.2% .69%, 99.02% .39%, 98.82% .18%, 98.61% .05%, 98.39% 0, 0 0, 3.54% 95.55%, 3.57% 96.17%, 3.63% 96.76%, 3.71% 97.31%, 3.81% 97.83%, 3.93% 98.3%, 4.07% 98.72%, 4.22% 99.09%, 4.38% 99.41%, 4.56% 99.66%, 4.74% 99.85%, 4.94% 99.96%, 5.14% 100%, 100% 100%, 100% 5.03%);
    clip-path: shape(from 100% 5.03%, curve to 98.39% 0 with 100% 2.25%/99.28% 0, hline to 0, line to 3.54% 95.55%, curve to 5.14% 100% with 3.63% 98.08%/4.32% 100%, hline to 100%, vline to 5.03%, close)
}

.footer-cta {
    clip-path: polygon(88.15% 0, 88.59% .03%, 89.01% .13%, 89.41% .3%, 89.79% .52%, 90.15% .79%, 90.47% 1.11%, 90.77% 1.48%, 91.02% 1.89%, 91.24% 2.35%, 91.42% 2.83%, 91.54% 3.35%, 91.62% 3.89%, 99.98% 95.1%, 100% 95.74%, 99.95% 96.37%, 99.83% 96.97%, 99.65% 97.53%, 99.41% 98.05%, 99.11% 98.53%, 98.77% 98.95%, 98.38% 99.31%, 97.96% 99.6%, 97.5% 99.82%, 97.01% 99.95%, 96.5% 100%, 0 100%, 0 0, 88.15% 0);
    clip-path: shape(from 88.15% 0, curve to 91.62% 3.89% with 89.92% 0/91.42% 1.67%, line to 99.98% 95.1%, curve to 96.5% 100% with 100.22% 97.71%/98.59% 100%, hline to 0, vline to 0, hline to 88.15%, close)
}

.footer-cta-image-wrap {
    clip-path: polygon(0 100%, 100% 100%, 80.94% 0, 0 0, 0 100%);
    clip-path: shape(from 0 100%, line to 100% 100%, line to 80.94% 0, line to 0 0, vline to 100%, close)
}