.video-full-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-full-container:hover .play-pause-btn {
    display: flex;
}

#fullscreen-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.video-overlay:hover {
    background: rgba(0, 0, 0, 0.2);
}

.play-pause-btn {
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--primary-color);
    opacity: 0.9;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    animation: pulse 2s infinite;
    transition: all 0.3s ease;
}

.play-pause-btn:hover {
    transform: scale(1.05);
    background: var(--primary-color);
    opacity: 1;
}

.play-pause-btn i {
    font-size: 22px;
    color: #eeeeee;
    transition: all 0.3s ease;
    transform: translateY(-2px);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.video-title {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    z-index: 3;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    transition: opacity 0.3s;
}

.video-overlay:hover~.video-title {
    opacity: 1;
}

/* حالت پخش شده */
.playing .play-pause-btn {
    animation: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.playing .video-overlay {
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.playing .video-overlay:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* حالت موبایل */
@media (max-width: 768px) {
    .play-pause-btn {
        width: 80px;
        height: 80px;
    }

    .play-pause-btn i {
        font-size: 32px;
    }

    .video-title {
        font-size: 20px;
        bottom: 30px;
    }
}